<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.CONEXIONDB" connectionString="Data Source=g5g5fpvfu8.database.windows.net;Initial Catalog=becademic_web;User ID=becademic;Password=#Beca159753"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>